body {
    background-color: rgb(28, 29, 28);
}

.container {
    background-color: rgb(221, 213, 220);
    border: 1px solid black;
    backdrop-filter: drop-shadow(20px 20px 20px black);
    margin: 10% auto;
    width: 400px;
}

form {
    padding: 10px 20px;
    box-sizing: border-box;
    text-align: center;
}

input, button {
    padding: 10px;
    background-color: rgba(85, 81, 85, 0.212);
    margin-bottom: 10px;
    outline: none;
    font-family: monospace;
    font-size: 16px;
    font-weight: bold;
}

input {
    width: 93%
}


#btnRegister {
    margin: 0 auto;
}

button {
    background-color: rgb(192, 190, 192);
    font-size: 18px;
    width: 49.5%;
    box-sizing: border-box;
    margin-left: 0;
}

input:first-child {
    margin-top: 10px;
}

#btnRegister, #btnLogin {
    background-color: rgba(51, 47, 50, 0.781);
    font-size: 18px;
    width: 46.5%;
}

#btnSignUp {
    background-color: rgba(51, 47, 50, 0.781);
}

#loginform {
    display: none;
}

.invalid {
    border: 2px solid red;
}

.divRow {
    display: inline-block;
    border: 2px solid #000;
    text-align: center;
    margin-bottom: 10px;

}

.divRow:last-child{
    margin:0 auto;
}

.divSection {
    display: inline-block;
    padding: 10px;
    border: 1px solid #000;
    box-sizing: border-box;
}

.btnList {
    padding: 5px;
    margin-left: 5px;
    font-family: monospace;
    font-size: 13px;
    width: 9%;
}

.firstMessage {
    /* display: inline-block; */
    margin-bottom:10px;
    text-align: center;
    /* border: 1px solid black; */
    padding:5px;
    color: whitesmoke;
    font-size: 13px;
}

.listContainer {
    text-align: center;
}